body {font-size:10pt;font-family:Verdana;color:#000000;background:#E7EBF2;margin:0;padding:0;}

a {color:#3B5998;text-decoration:none}
a:hover {color:#3B5998;text-decoration:underline}

.face_over_b {border-bottom:1px solid #BFC2C8; margin-bottom:4px}
.face_over {background:#3B5998;border-bottom:1px solid #133783;}
.face_top {text-align:left;width:900px;height:32px;overflow:hidden;color:#FFFFFF;}
.face_top_left {text-align:left;width:900px;overflow:hidden;color:#FFFFFF;padding:0;padding-left:0}
.face_top_right {float:left;text-align:right;width:300px;color:#FFFFFF;margin-left:3px; margin-right:7px;}

.face_menu {padding-top:5px}
.face_menu_right {float:right;padding:8px;padding-right:0}
.face_top a {color:white;padding:8px;text-decoration:none}
.face_top a:hover {background:#4B67A1;color:white;padding:8px;text-decoration:none}

.face_logo {font-weight:bold; float:left;padding-right:8px;padding-left:0}

.face_block {text-align:left;width:900px;}
.face_block_left {text-align:left;width:682px; border:1px solid #C4CDE0;border-bottom:2px solid #C4CDE0;background:white;margin-bottom:5px;}
.face_block_right {text-align:left;width:200px;float:right}

.face_block_mini {text-align:left; border:1px solid #C4CDE0;border-bottom:2px solid #C4CDE0;margin-bottom:5px;background:white}

.face_search_over {text-align:left;width:300px;height:23px;overflow:hidden;padding:0;background:white;margin-top:5px}
.face_search_s {float:left}
.face_search {border:3px solid #FFFFFF; width:275px; padding:0; background:white; margin:0;}
.face_search_border {float:right;margin-top:3px;width:1px;overflow:hidden;height:18px;font-size:1pt;background:#dedede}
.face_search_button {float:right;cursor:pointer;margin:3px;width:16px;height:16px;overflow:hidden;font-size:1pt;background:url('search.gif')}

.face_menu_r {padding-bottom:3px}
.face_menu_r a.this {margin-bottom:2px;display:block;text-decoration:none;border-left:5px solid #627AAD;padding:6px;color:#627AAD;font-weight:bold;}
.face_menu_r a.this:hover {display:block;text-decoration:underline;border-left:5px solid #627AAD;padding:6px;color:#627AAD;font-weight:bold;}
.face_menu_r a {margin-bottom:2px;display:block;text-decoration:none;border-left:5px solid #C8D1E2;padding:6px;color:#A3ADDA;}
.face_menu_r a:hover {display:block;text-decoration:underline;border-left:5px solid #A7B4D1;padding:6px;color:#94A0C1;}

.face_adsense {padding-top:11px; padding-bottom:10px; color:#9293BB; border-bottom:1px solid #C8D1E2; margin-bottom:5px;}

.face_m_hide {padding:10px;background:#FFFFFF;border-bottom:1px solid #E5E7EB}
.face_m_show {padding:10px;background:#F1F3F8;border-bottom:1px solid #CCCDD2}

.face_bottom {display:block;padding:11px;background:none;border-top:1px solid #C4CDE0}

.pad5 {padding:10px} 

.face_pre {float:left;margin-right:10px;margin-bottom:10px}

.face_new_message { background: #FF0000; border-radius: 3px; vertical-align: 20%;}

.face_m_message_hide {padding:10px;background:#FFFFFF;border-bottom:1px solid #E5E7EB; height:80px;}
.face_m_message_show {padding:10px;background:#F1F3F8;border-bottom:1px solid #CCCDD2; height:80px;}