extends ../views/layout

block content

	link(rel='stylesheet', href='/javascripts/joint.css')

	script(src='/javascripts/lodash.min.js')
	script(src='/javascripts/backbone.min.js')
	script(src='/javascripts/joint.js')
	script(type='text/javascript', src='/javascripts/editor.js')

	h2 Редактор

	div#myholder
