doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/jquery.min.js')
	body
		h2 Главное меню
		#menu
			a(href='/') Управление квестом
			a(href='/stats/operators') Операторы
			a(href='/stats/games') Список игр
		block content