doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h2 Главное меню
		#menu
			a(href='/stats/operators') Операторы
			a(href='/stats/games') Список игр
		block content