doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/layout.js')

	body
		h2 Главное меню
		#menu
			ul
				li
					a(href='/stats/operators') Операторы
				li
					a(href='/stats/games') Список игр
				//li
				//	a(href='/editor') Редактор сценария
				li
					a(href='', id='Logout') Выйти
		block content