doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/jquery.min.js')
	body
		#menu
			a(href='/device_types') Типы устройств
			a(href='/quests')       Квесты
	
		block content