body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#Content {position: relative;  height: 800px;}
#Content div#Service {position: absolute; left: 0px;  width:500px; height: 150px;}
#Content div#Quest {position: absolute; left: 500px; width:500px; height: 150px;}
#Content div#Test {position: absolute; left: 1000px; width:500px; height: 150px;}
#Content div#Main {position: absolute; top: 160px; width:1800px; }

a.BType_01 {display:block;height:20px;text-align:center;font:bold 12px/12px arial;color:#000;text-decoration:none;background:#b9b9b9;background-image:linear-gradient(#f2f2f2, #b9b9b9);border:1px solid #bababa;border-radius:2px;behavior:url(/css3/PIE.htc)}
a.BType_01 span {display:block;height:18px;padding:3px 0 0 0}
a:hover.BType_01 {background-image:linear-gradient(#f2f2f2, #c9c9c9);color:#333;cursor:pointer}
a:hover.BType_01 span {}

input.BType_01 {display:block;height:20px;text-align:center;font:bold 12px/12px arial;color:#000;text-decoration:none;background:#b9b9b9;background-image:linear-gradient(#f2f2f2, #b9b9b9);border:1px solid #bababa;border-radius:2px;behavior:url(/css3/PIE.htc)}
input:enabled:hover.BType_01 {background-image:linear-gradient(#f2f2f2, #c9c9c9);color:#333;cursor:pointer}
input:disabled.BType_01 {color:#999}


.DashBoard input.Active {border-color:red;}
.Commands ul, ul.DashBoard {  list-style-type: none; }


.col1 { position: absolute; width: 324px; }
.col2 { position: absolute; left: 324px; width: 324px; }
.col3 { position: absolute; left: 648px; width: 324px; }
.col4 { position: absolute; left: 972px; width: 324px; }

ul.DashBoard li {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.Device {
	height: 66px;
	width: 320px;
	border: 2px solid black;
}

.Input1 {
	width: 110px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.InputShort {
	width: 20px;
}

.Input2 {
	width: 80px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.SmallInput2 {
	width: 30px;
}


.Input3 {
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 190px;
}

.Device div.Status {
	position: absolute;
	left: 2px;
	width: 20px;
	height: 66px;
}

.Device div.State {
	position: absolute;
	left: 22px;
	width: 300px;
	height: 66px;
}
.Device div.Commands {
	position: relative;
	left: 22px;
	width: 300px;
	height: 66px;
}

.Device div.Commands ul {
	margin-top: 22px;
	padding-left: 2px;
}

.Device div.Commands ul li{
	display: inline-block;
	margin-right: 10px;
}


.Device .Status {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.Device .Offline {
    background: red;
}

.Device .Online {
    background: green;
}

.Device .Emulating {
    background: blue;
}


    