extends ../../views/layout


var device_types= device_types;
block content

	script(src='/javascripts/device_types.js')

	h2 Типы устройств

	#menu
		button#btnOpenCreateDeviceType   Добавить

	#deviceTypeList
		table
			thead
				th Название
				th Имя
				th Команды
				th События
				th Состояния
				th foo
			tbody

	div#createDeviceType(style="display:none;")
		h2 Создание/Изменение
		#deviceTypeForm
				fieldset
					input#inputDeviceTypeId(type='hidden')
					input#inputDeviceTypeTitle(type='text', placeholder='Название')
					input#inputDeviceTypeName( type='text', placeholder='Имя')
					br
					h4 Команды
					table
						thead
							th Название
							th Псевдоним
							th Числовой псевдоним
							th
						tbody

					select#inputDeviceCommand(type='select')

					button#btnAddDeviceCommand    Добавить
					button#btnOpenCreateDeviceCommand Создать новую
					br
					h4 События
					br
					h4 Состояния
					br
					button#btnSaveDeviceType Сохранить


	div#createDeviceCommand(style="display:none;")
		h5 Создание команды
		#deviceCommandForm
		fieldset
			input#inputDeviceCommandTitle(type='text', placeholder='Название')
			input#inputDeviceCommandName(type='text', placeholder='Псевдоним')
			input#inputDeviceCommandDname(type='text', placeholder='Числовой псевдоним')
			button#btnCreateDeviceCommand Создать