extends ../../../views/layout

block content

	script(src='/javascripts/stats/games.list.js')

	h2 Игры
	#menu

	#GamesList
		table
			thead
				th Дата начала
				th Продолжительность
				th Оператор
				th foo
			tbody