extends ../../../views/layout

block content

	script(type='text/javascript').
		page=#{page};
		count=#{count};
		operator_id=#{operator_id};

	script(src='/javascripts/stats/games.list.js')

	h2 Игры
	#menu

	#Pager
		ul(class='pagination')

	#GamesList
		table
			thead
				th Дата начала
				th Продолжительность
				th Оператор
				th
			tbody